*{
    padding: 0;
    margin: 0;
}

.navBar{
    background-color: #271F30;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.left span{
    margin-left: 5px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    color: #fff;
    background-color: #8b6949;
}


.item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 5px 10px wheat;
    margin: 20px;
}
.center-content{
    width: 50%;
}

.center-content p{
    background: wheat;
    padding: 5px 10px;
}

.card{
    color: #283845;
    font-size: 20px;
    display: flex;
    gap: 10px;
    padding: 0 20px 20px 20px;
}

.icon-div{
    padding: 20px;
}

.right-content{
    font-size: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}